<!-- <ng-container>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <input type="text" formControlName="userName" />
    <input type="text" formControlName="email" />
    <input type="text" formControlName="password" />

    <button type="submit">Submit</button>
  </form>
</ng-container> -->
<div class="container">
  <h1>Sign up</h1>
  <a routerlink="/auth" href="/auth">Have an account?</a>
  <form>
    <div class="form-group">
      <input
        type="text"
        [(ngModel)]="userName"
        class="form-control"
        placeholder="Username"
        [ngModelOptions]="{ standalone: true }"
      />
    </div>

    <div class="form-group">
      <input
        type="text"
        [(ngModel)]="email"
        class="form-control"
        placeholder="Email"
        [ngModelOptions]="{ standalone: true }"
      />
    </div>

    <div class="form-group">
      <input
        type="text"
        [(ngModel)]="password"
        class="form-control"
        placeholder="password"
        [ngModelOptions]="{ standalone: true }"
      />
    </div>

    <button type="submit" (click)="onSubmit()">Submit</button>
  </form>
</div>
